<<<<<<< HEAD
﻿body {
  padding-top: 60px;
}


.logo h1 {
  color: #000000;
  font-size: 35px;
}



@media (max-width: 767px){
  .logo h1 {
    font-size: 25px;
  }
=======
﻿body {
  padding-top: 60px;
}


.logo h1 {
  color: #000000;
  font-size: 35px;
}



@media (max-width: 767px){
  .logo h1 {
    font-size: 25px;
  }
>>>>>>> 47461b6ef9f18b97e908149a0ac51dae7337355a
}